.chat-window {
	height: 90vh;
	overflow-y: hidden;
}

.chat-messages {
	padding: 30px;
	max-height: 50vh;
	overflow-y: scroll;
    /* background-image: url('../img/chat-bg.jpg'); */
    background-position: center;
    background-size: contain;
}

.message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.message-content {
    color: var(--dark-color-a);
    margin-right: auto;
}

.meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
    display: flex;
}

.meta span {
	color: #777;
    margin-left: auto;
}